.jordan{
    width: 225px;
    height: 145px;
}
a{
    text-transform: uppercase;
    font-style: inherit;
    font-size: 45px;
    color: black;
    font-family: cursive;
}
a:link{
    text-decoration: none;
}
a:hover{
    color: red;
}
.n{
    position: absolute;
    top:40px;
    left: 17%;

}
.e{
    position: absolute;
    top:40px;
    left: 42%;
}
.c{
    position: absolute;
    top:40px;
    left: 53%;
}
.d{
    position: absolute;
    top:40px;
    left: 70%;
}
.lupa{
    width: 45px;
    position:absolute;
    top:40px;
    left: 89%;
}
.koszyk{
    width: 85px;
    position:absolute;
    top:18px;
    left: 92%;
}
t{
    color: black;
    font-size: 48px;
    position: absolute;
    top:20%;
    left:41%;
    font-family: cursive;
}
t:hover{
    color: red;
}
.pandy{
    position: absolute;
    top:29%;
    left:6%; 
    width: 360px;
    height: 430px; 

} 
x{
    position: absolute;
    top: 61%;
    left:7%; 
    font-size: 20px;
    font-family: cursive;
}
x:hover{
    color: red;
}
.blackgum{
    position: absolute;
    top:31%;
    left:30%; 
    width: 340px;
    height: 410px; 

}
.balck{
    position: absolute;
    top: 61%;
    left:31%; 
    font-size: 20px;
    font-family: cursive;
}
.darkcanavas{
    position: absolute;
    top:29%;
    left:53%; 
    width: 340px;
    height: 410px; 
}
.dark{
    position: absolute;
    top: 61%;
    left:53%; 
    font-size: 20px;
    font-family: cursive;
}
.jakiesdunk{
    width: 340px;
    height: 410px; 
    position: absolute;
    top:31%;
    left:76%; 
}
.jakdunk{
    position: absolute;
    top: 61%;
    left: 76%; 
    font-size: 20px;
    font-family: cursive;
}
.dol{
    width: 99%;
    height: 90px;
    position: absolute;
    top: 90%;
    background-color: red;
}
h6{
    color: white;
    font-family: cursive;
    font-size: 29px;
    position: absolute;
    top: -55%;
    left: 44%;

}
@media only screen and (max-width: 700px)
{
    .jordan{
        width: 145px;
        height: 100px;
    }
    a{
        font-size: 20px;
    }
    .n{
        position: absolute;
        left: 25%;
    }
    .e{
        position: absolute;
        left: 54%;
    }
    .c{
        position: absolute;
        left: 65%;
    }
    .d{
        position: absolute;
        left: 80%;
    }
    .lupa{
        width: 40px;
        position: absolute;
        left: 98%;
    }
    .koszyk{
        width: 80px;
        position: absolute;
        left: 105%;
    }
    t{
        font-size: 25px ;
        position: absolute;
        left: 50%;
    }
    .pandy{
        position: absolute;
        top:31%;
        left:4%; 
        width: 180px;
        height: 220px;
    }
    .blackgum{
        position: absolute;
        top:268px;
        left:31%; 
        width: 180px;
        height: 220px; 
    
    }
    .darkcanavas{
        position: absolute;
        top:30%;
        left:59%; 
        width: 180px;
        height: 220px; 
    }
    .jakiesdunk{
        width: 180px;
        height: 220px; 
        position: absolute;
        top:31%;
        left:87%; 
    }
    x{
        position: absolute;
        top: 52%;
        left:5%; 
        font-size: 10px;
        font-family: cursive;
    }
    .jakdunk{
        position: absolute;
        top: 52%;
        left: 95%; 
        font-size: 10px;
        font-family: cursive;
    }
    .dark{
        position: absolute;
        top: 52%;
        left:60%; 
        font-size: 10px;
        font-family: cursive;
    }
    .balck{
        position: absolute;
        top: 52%;
        left:32%; 
        font-size: 10px;
        font-family: cursive;
    }
}


















